@use '../base/variables' as *;

.primary-btn {
  position: relative;
  padding: 0.4rem 1rem;
  font-weight: 400;
  border: 1px solid $color-gray;
  background-color: var(--bg-color, $color-light);
  color: var(--text-color, $color-dark);
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  transition: color 0.5s ease, background-color 0.5s ease;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    width: 200%;
    height: 300%;
    background: var(--hover-bg-color, $color-primary);
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    z-index: -1;
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out;
    pointer-events: none;
  }

  &:hover {
    color: var(--hover-text-color, $color-light);

    &::after {
      top: 0%;
      transform: translateX(-50%) scaleY(1);
    }
  }

  svg {
    transition: transform 0.2s ease;
    margin-left: 1rem;
  }

  &:hover svg {
    transform: translateX(4px);
  }
}
