@use "../../../styles/base/variables" as *;
@use "../../../styles/base/mixins" as *;


.header {
  background-color: $color-primary-background;
  padding: 2rem 0 1rem;
  position: sticky;
  top: 0;
  z-index: 100; 
  height: 100px;
  border-bottom: $border-primary;
  
  
  .container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1088;

  }

  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-primary;
  }

  .nav-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
   

    .nav {
      display: flex;
      align-items: center;
      gap: 2rem;

      a {
        font-size: 1.2rem;
        text-decoration: none;
        color: $color-dark;
        font-weight: 500;
        transition: color 0.3s ease;
       

        &:hover {
          color: $color-primary;
        }
      }

      .dropdown-container {
        position: relative;

        .dropdown {
          .dropdown-toggle {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 500;
            color: $color-dark;
            transition: color 0.3s;
height: 100%;
padding: 0rem 0;


            &:hover {
              color: $color-primary;
            }

            .toggle-icon {
              margin-left: 0.4rem;
              transition: transform 0.3s ease;
              line-height: 0;
            }
          }
        }

        .mega-menu {
          background-color: $color-primary-background;
          position: fixed;
          top: 70px;
          left: 0;
          width: 100vw;
          z-index: 100;
          padding: 3rem 0;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
          @include respond(sm) {
            box-shadow: none
          }
          @include respond(md) {
            box-shadow: none
          }


          .mega-menu-inner {
            @include container;

            .columns {
              display: flex;
              justify-content: space-between;
              gap: 2rem;

              .services {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                flex: 3;

                .service-item {
                  display: flex;
                  gap: 1.25rem;
                  align-items: flex-start;
                  text-decoration: none;
                  color: $color-dark;
                  padding: 0.8rem;
                  border-radius: 8px;
                  transition: all 0.2s ease;

                  .icon {
                    flex-shrink: 0;
                    margin-top: 4px;
                    color: $color-primary;

                    svg {
                      width: 36px;
                      height: 36px;
                    }
                  }

                  .text {
                    h4 {
                      font-size: 1.2rem;
                      font-weight: 500;
                      margin-bottom: 0.25rem;
                      color: $color-dark;
                    }

                    p {
                      font-size: 1rem;
                      color: $color-gray;
                      line-height: 1.3;
                    }
                  }

                  &:hover {
                    transform: translateX(8px);

                    .text h4 {
                      color: $color-primary;
                    }
                  }
                }
              }

              .industries {
                flex: 1;
                background: $color-accent-background;
                padding: 1.2rem;


                h4 {
                  margin: 2rem 1rem;
                  font-size: 1rem;
                }

                span {
                  display: block;
                  margin: 1rem 0 0 1rem;
                  font-size: 1rem;
                  color: $color-dark;
                  position: relative;
                  padding-left: 2rem;
                  cursor: pointer;
                  transition: all 0.3s ease;

                  &::before {
                    content: "→";
                    position: absolute;
                    left: 0;
                    font-size: 1rem;
                    color: $color-dark;
                  }

                  &:hover {
                    color: $color-primary;
                    transform: translateX(6px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;

    span {
      width: 25px;
      height: 3px;
      background: $color-dark;
      border-radius: 2px;
    }
  }
  
  
  .social-icons{
    display: none;
  }

  @include respond(lg) {
    .header-btn{
      display: none;
    }
    .nav-wrapper {
      display: none;

      &.mobile-active {
        display: block;
        width: 70%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background: white;
        z-index: 1000;
        padding: 5rem 2rem;
        transition: all 0.3s ease;
        overflow-y: auto;

        .nav {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;

          a {
            width: 100%;
            padding: 0.75rem 0;
            border-bottom: $border-primary;
            font-size: 1rem;
            color: $color-dark;

            &:hover {
              color: $color-primary;
              
            }
          }

          .dropdown-container {
            width: 100%;

            .dropdown {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              padding: 0.75rem 0;
              border-bottom: $border-primary;
              font-size: 1rem;
              font-weight: 500;
              color: $color-dark;
              cursor: pointer;
              transition: color 0.3s ease;


              &:hover {
                color: $color-primary;
              }

              .dropdown-toggle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                span {
                  display: inline-block;
                  margin-left: auto;
                }
              }
            }

            .mega-menu {
              position: relative;
              top: auto;
              left: auto;
              width: 100%;
              background: transparent;
              padding: 0;

              .columns {
                flex-direction: column;

                .services {
                  margin-top: 1rem;
                  grid-template-columns: 1fr;

                  .service-item {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.5rem 0;
                    border-bottom: $border-primary;

                    .text h4 {
                      font-size: 1rem;
                      font-weight: 500;
                      color: $color-dark;
                    }

                    .icon,
                    .text p {
                      display: none;
                    }

                    .arrow {
                      font-size: 1rem;
                      color: $color-dark;
                    }

                    &:hover h4 {
                      color: $color-primary;
                    }
                  }
                }

                .industries {
                  display: none;
                }
              }
            }
          }

          .social-icons {
            display: flex;
            gap: 1rem;
            justify-content: center;
            margin-top: 2rem;
            padding-top: 2rem;
            width: 100%;
            padding-bottom: 1rem;

            a {
              background-color: $color-primary;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              width: 40px;
              height: 40px;
              font-size: 1rem;
              color: $color-light;
              transition: background 0.3s ease;
            
              &:hover {
                background-color: darken($color-primary, 10%);
              }
            
              i {
                font-size: 1rem; // ensures consistent icon size
              }
            }
            
          }
        }
      }
    }

    .contact-btn {
      display: none !important;
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      gap: 4px;
      cursor: pointer;
      z-index: 2000;

      span {
        width: 25px;
        height: 3px;
        background: $color-dark;
        border-radius: 2px;
      }
    }
  }
}


