/* src/styles/base/_variables.scss */

// Colors
$color-primary: #3534FF;
$color-secondary: #ecf0f3;
$color-dark: #000000;
$color-light: #fff;
$color-gray: #B0B0B0;

$color-primary-background:#FFFFFF;
$color-secondary-background:#0B0A33;
$color-accent-background: #F8F8F8;




// Fonts
$font-main: 'Inter', sans-serif;

// Spacing
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

// Border
$primary-border:1px solid #eee;